{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <title>Progress Table</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'base' %}">CSE 4050</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'progress' %}">Progress Table</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'jspractice' %}">JavaScript Practice</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>

        <div class="container-fluid">
            <p id="para">I will keep a list of the assignments left to do here to keep track of progess.</p>
            <table id="productSizes" class="table">
                <tr class="d-flex">
                    <th class="col-1">Assignments</th>
                    <th class="col-1">Finished?</th>
                </tr>
                <tr class="d-flex">
                    <td class="col-1">git</td>
                    <td class="col-1" id="yes">Yes</td>
                </tr>
                <tr class="d-flex">
                    <td class="col-1">HTML</td>
                    <td class="col-1" id="yes">Yes</td>
                </tr>
                <tr class="d-flex">
                    <td class="col-1">CSS</td>
                    <td class="col-1" id="yes">Yes</td>
                </tr>
                <tr class="d-flex">
                    <td class="col-1">Javascript</td>
                    <td class="col-1" id="yes">Yes</td>
                </tr>
                <tr class="d-flex">
                    <td class="col-1">JSON</td>
                    <td class="col-1" id="no">No</td>
                </tr>
                <tr class="d-flex">
                    <td class="col-1">Firebase Hosting</td>
                    <td class="col-1" id="no">No</td>
                </tr>
                <tr class="d-flex">
                    <td class="col-1">Firebase Authentication</td>
                    <td class="col-1" id="no">No</td>
                </tr>
                <tr class="d-flex">
                    <td class="col-1">Cloud Firestore</td>
                    <td class="col-1" id="no">No</td>
                </tr>
                <tr class="d-flex">
                    <td class="col-1">Web App 1</td>
                    <td class="col-1" id="no">No</td>
                </tr>
                <tr class="d-flex">
                    <td class="col-1">Web App 2</td>
                    <td class="col-1" id="no">No</td>
                </tr>
            </table>
        </div>

    </body>
    <footer class="page-footer fixed-bottom">

        <!-- Copyright -->
        <div class="footer">
            <a href="https://github.com/wmentzer" class="fa fa-github"><img src="../media/GitHub.png"></a>
            <p>Created by Will Mentzer</p>
        </div>
        <!-- Copyright -->
    </footer>
</html>